@charset "UTF-8";
/*==========================================
  Common
==========================================*/
/* base
==================================*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
li,
ol,
dl,
dd,
tr {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-family: YakuHanJP_Noto, "Noto Sans JP", san-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

.pc {
  display: none !important;
}

a {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
}

a:active {
  color: #000000;
}

/* main
==================================*/
main {
  display: block;
  /*IE対策*/
}

/* header
==================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  height: 50px;
  transition: .3s ease-in-out;
}

header.p-top .header_inner .h_left .logo {
  opacity: 0;
}

header.menuActive {
  background-color: #000;
}

header.menuActive .header_inner .h_left .logo {
  opacity: 1;
}

header.menuActive .header_inner .h_left .logo a {
  width: 142px;
  height: 24px;
  background-image: url(/images/common/footer_logo.svg);
}

header.menuActive .header_inner .h_right .menu {
  background-color: #151515;
}

header .header_inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header_inner .h_left {
  padding-left: 25px;
}

header .header_inner .h_left .logo {
  display: flex;
  align-items: center;
}

header .header_inner .h_left .logo a {
  display: inline-block;
  background-image: url(/images/common/header_logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 160px;
  height: 26.5px;
}

header .header_inner .h_left .logo a i {
  opacity: 0;
}

header .header_inner .h_right {
  height: 100%;
  width: 80px;
}

header .header_inner .h_right .menu {
  background: #000;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}

header .header_inner .h_right .menu span {
  position: absolute;
  top: 21px;
  left: 0;
  right: 0;
  display: inline-block;
  background: #fff;
  width: 30px;
  height: 1.5px;
  margin: auto;
  transition: 0.3s;
}

header .header_inner .h_right .menu span.line-t.show {
  top: 24px;
  transform: rotate(-15deg);
}

header .header_inner .h_right .menu span.line-b {
  top: 28px;
}

header .header_inner .h_right .menu span.line-b.show {
  top: 24px;
  transform: rotate(15deg);
}

header .header_inner .h_right .menu p {
  color: #fff;
  padding: 35px 0 0;
  font-size: 10px;
  text-align: center;
}

header .header_inner .h_right .copy {
  display: none;
}

header .nav {
  transition: .3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 990;
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  /* Lets it scroll lazy */
  padding-bottom: 50px;
}

header .nav.isActive {
  opacity: 1;
  visibility: visible;
}

header .nav__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 100px;
}

header .nav__item {
  width: 50%;
  padding: 25px;
  border-bottom: 1px solid #151515;
  box-sizing: border-box;
}

header .nav__item:first-child {
  width: 100%;
  border-top: 1px solid #151515;
}

header .nav__item:nth-child(even) {
  border-right: 1px solid #151515;
}

header .nav__link {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .06em;
  color: #777777;
  display: flex;
  flex-direction: column;
}

header .nav__link:hover::before {
  width: 100%;
}

header .nav__link span {
  font-family: YakuHanJP_Noto, "Noto Sans JP", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: .06em;
  color: #fff;
  order: -1;
}

header .nav__link::before {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: .3s ease-in-out;
}

/* footer
==================================*/
footer .footer_inner {
  padding: 70px 25px 30px;
  background: #000;
}

footer .footer_inner .top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .footer_inner .top .logo {
  width: 202.5px;
  margin-bottom: 32px;
}

footer .footer_inner .top .nav {
  width: 100%;
}

footer .footer_inner .top .nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

footer .footer_inner .top .nav__item {
  width: 50%;
}

footer .footer_inner .top .nav__item:first-child {
  width: 100%;
}

footer .footer_inner .top .nav__item:not(:first-child) {
  margin-top: 19px;
}

footer .footer_inner .top .nav__item__link {
  color: #fff;
  font-size: 14px;
  letter-spacing: .06em;
  position: relative;
}

footer .footer_inner .bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 95px;
}

footer .footer_inner .bottom .b_left {
  width: 100%;
  margin-bottom: 25px;
}

footer .footer_inner .bottom .b_left p {
  font-size: 14px;
  letter-spacing: .06em;
  line-height: 18.2px;
  color: #c6c6c6;
}

@media only screen and (max-width: 345px) {
  footer .footer_inner .bottom .b_left p {
    font-size: 13px;
  }
}

footer .footer_inner .bottom .b_left p span {
  color: #fff;
  margin-bottom: 2px;
  display: inline-block;
}

footer .footer_inner .bottom .b_left p a {
  color: #c6c6c6;
}

footer .footer_inner .bottom .b_right {
  width: 100%;
}

footer .footer_inner .bottom .b_right p {
  font-size: 10px;
  color: #777777;
  line-height: 13px;
  letter-spacing: .06em;
}

footer .footer_inner .copy {
  margin-top: 20px;
}

footer .footer_inner .copy small {
  color: #777777;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: .08em;
  text-transform: uppercase;
}

#pageTop {
  opacity: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 888;
  transition: 0.3s;
}

#pageTop.active {
  opacity: 1;
}

#pageTop a {
  display: block;
  width: 50px;
}

/* loader
==================================*/
#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1001;
}

/* Animation
==================================*/
.c-anim-up {
  transform: translate(0, 30px);
  opacity: 0;
  transition: 0.3s ease;
}

.move {
  transform: translate(0, 0);
  opacity: 1;
}

.delay1 {
  -moz-transition-delay: 300ms;
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  -ms-transition-delay: 300ms;
}

.delay2 {
  -moz-transition-delay: 600ms;
  -webkit-transition-delay: 600ms;
  -o-transition-delay: 600ms;
  -ms-transition-delay: 600ms;
}

.delay3 {
  -moz-transition-delay: 900ms;
  -webkit-transition-delay: 900ms;
  -o-transition-delay: 900ms;
  -ms-transition-delay: 900ms;
}

.delay4 {
  -moz-transition-delay: 1200ms;
  -webkit-transition-delay: 1200ms;
  -o-transition-delay: 1200ms;
  -ms-transition-delay: 1200ms;
}

.delay5 {
  -moz-transition-delay: 1500ms;
  -webkit-transition-delay: 1500ms;
  -o-transition-delay: 1500ms;
  -ms-transition-delay: 1500ms;
}

.delay6 {
  -moz-transition-delay: 1800ms;
  -webkit-transition-delay: 1800ms;
  -o-transition-delay: 1800ms;
  -ms-transition-delay: 1800ms;
}

.delay7 {
  -moz-transition-delay: 2100ms;
  -webkit-transition-delay: 2100ms;
  -o-transition-delay: 2100ms;
  -ms-transition-delay: 2100ms;
}

/*==================================
  Component
==================================*/
html {
  overflow: auto;
}

html.no_move {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

img[src$=".png"], img[src$=".jpg"] {
  backface-visibility: hidden;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}

@media (max-width: 899px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.row .col {
  position: relative;
  width: 100%;
  min-height: 1px;
  box-sizing: border-box;
}

.row .col.col_4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

/*==================================
	リスト系
==================================*/
.news_ul {
  margin: 0 0 19px;
}

.news_ul .news_li {
  border-bottom: 1px solid #e8e8e8;
  padding: 22px 14px;
}

.news_ul .news_li > a {
  display: flex;
  align-items: center;
}

.news_ul .news_li > a .date {
  font-size: 16px;
  color: #919191;
  margin-right: 24px;
}

.news_ul .news_li > a .img_wrap {
  margin-right: 17px;
}

@media (min-width: 900px) {
  .news_ul .news_li > a .title {
    background: linear-gradient(#000, #000) 0 100%/0 1px no-repeat;
    transition: background 0.4s ease;
  }
  .news_ul .news_li > a:hover .title {
    background-size: 100% 1px;
  }
}

@media (max-width: 899px) {
  .news_ul .news_li {
    padding: 14px 0;
  }
  .news_ul .news_li > a {
    display: block;
    position: relative;
    padding-left: 80px;
  }
  .news_ul .news_li > a .img_wrap {
    margin-right: 0;
    position: absolute;
    top: 0;
    left: -5px;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
  }
  .news_ul .news_li > a .img_wrap img {
    max-width: 57px;
  }
  .news_ul .news_li > a .date,
  .news_ul .news_li > a .title {
    display: block;
  }
  .news_ul .news_li > a .date {
    font-size: 14px;
    margin: 0 0 7px;
  }
  .news_ul .news_li > a .title {
    font-size: 16px;
    line-height: 1.3;
  }
}

/*==================================
	ページナビ
==================================*/
.page_navigation .wp-pagenavi {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px 0 50px;
}

@media (max-width: 899px) {
  .page_navigation .wp-pagenavi {
    margin: 30px 0 40px;
  }
}

.page_navigation .wp-pagenavi > .page,
.page_navigation .wp-pagenavi .current {
  font-size: 16px;
  font-weight: 500;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 5px;
}

.page_navigation .wp-pagenavi > .page:not(.current),
.page_navigation .wp-pagenavi .current:not(.current) {
  background-color: #f3f3f3;
}

@media (min-width: 900px) {
  .page_navigation .wp-pagenavi > .page:not(.current):hover,
  .page_navigation .wp-pagenavi .current:not(.current):hover {
    color: #fff;
    background-color: #000;
  }
}

.page_navigation .wp-pagenavi > .page.current,
.page_navigation .wp-pagenavi .current.current {
  background-color: #000;
  color: #fff;
}

.page_navigation .wp-pagenavi .nextpostslink,
.page_navigation .wp-pagenavi .previouspostslink {
  position: relative;
  font-weight: 500;
  box-sizing: border-box;
}

.page_navigation .wp-pagenavi .nextpostslink::before,
.page_navigation .wp-pagenavi .previouspostslink::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 9px;
  height: 14px;
  background-image: url(../images/common/pager_arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s ease;
}

.page_navigation .wp-pagenavi .nextpostslink.previouspostslink,
.page_navigation .wp-pagenavi .previouspostslink.previouspostslink {
  padding-left: 33px;
  margin-right: 30px;
}

.page_navigation .wp-pagenavi .nextpostslink.previouspostslink::before,
.page_navigation .wp-pagenavi .previouspostslink.previouspostslink::before {
  left: 0;
  transform: scale(-1, 1);
}

@media (min-width: 900px) {
  .page_navigation .wp-pagenavi .nextpostslink.previouspostslink:hover::before,
  .page_navigation .wp-pagenavi .previouspostslink.previouspostslink:hover::before {
    left: -5px;
  }
}

.page_navigation .wp-pagenavi .nextpostslink.nextpostslink,
.page_navigation .wp-pagenavi .previouspostslink.nextpostslink {
  padding-right: 33px;
  margin-left: 30px;
}

.page_navigation .wp-pagenavi .nextpostslink.nextpostslink::before,
.page_navigation .wp-pagenavi .previouspostslink.nextpostslink::before {
  right: 0;
}

@media (min-width: 900px) {
  .page_navigation .wp-pagenavi .nextpostslink.nextpostslink:hover::before,
  .page_navigation .wp-pagenavi .previouspostslink.nextpostslink:hover::before {
    right: -5px;
  }
}

.page_navigation .wp-pagenavi .list_back {
  margin-left: 58px;
  margin-right: 58px;
}

.page_navigation .wp-pagenavi .list_back > a {
  font-weight: 500;
}

.page_navigation .wp-pagenavi .list_back > a > .list_icon {
  display: inline-block;
  padding-left: 24px;
  position: relative;
}

.page_navigation .wp-pagenavi .list_back > a > .list_icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 14px;
  height: 14px;
  background-image: url(../img/news/list_icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.page_navigation > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px 0 50px;
}

.page_navigation > ul .link_page,
.page_navigation > ul .current_page {
  font-size: 16px;
  font-weight: 500;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 5px;
}

.page_navigation > ul .link_page:not(.current_page),
.page_navigation > ul .current_page:not(.current_page) {
  background-color: #f3f3f3;
}

@media (min-width: 900px) {
  .page_navigation > ul .link_page:not(.current_page):hover,
  .page_navigation > ul .current_page:not(.current_page):hover {
    color: #fff;
    background-color: #000;
  }
}

.page_navigation > ul .link_page.current_page,
.page_navigation > ul .current_page.current_page {
  background-color: #000;
  color: #fff;
}

/*==================================
	List
==================================*/
.list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.list__item {
  width: calc(100% / 3);
}

@media (max-width: 899px) {
  .list__item {
    width: 100%;
  }
}

@media (min-width: 900px) {
  .list__link:hover .list__link--img-wrap .list__link--img-wrap--img img {
    transform: scale(1.2);
  }
}

.list__link--img-wrap {
  position: relative;
}

.list__link--img-wrap--img {
  overflow: hidden;
}

.list__link--img-wrap--img img {
  transition: .5s ease-in-out;
}

.list__link--img-wrap--location {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  letter-spacing: .03em;
  position: absolute;
  bottom: 8px;
  left: 20px;
}

@media (max-width: 899px) {
  .list__link--img-wrap--location {
    left: 25px;
  }
}

.list__link--title {
  position: relative;
  line-height: 23px;
  padding: 12px 20px 25px;
}

@media (max-width: 899px) {
  .list__link--title {
    padding: 6.5px 25px 25px;
    line-height: 24px;
    border-right: none;
  }
}

.jumbo {
  margin: 100px 0 0 0;
  padding: 0 0 0 50px;
  height: 265px;
  display: flex;
  align-items: center;
}

@media (max-width: 899px) {
  .jumbo {
    height: 195px;
    margin: 50px 0 0 0;
    padding: 0 0 0 25px;
  }
}

.jumbo__wrap--head-en {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 42px;
  letter-spacing: .14em;
}

@media (max-width: 899px) {
  .jumbo__wrap--head-en {
    font-size: 38px;
  }
}

.jumbo__wrap--head-jp {
  font-size: 14px;
  color: #adafb5;
  letter-spacing: .2em;
  padding: 12px 0 0 3px;
}

@media (max-width: 899px) {
  .jumbo__wrap--head-jp {
    font-size: 12px;
    padding: 7px 0 0 3px;
  }
}

.p-navi {
  display: flex;
  align-items: center;
}

.p-navi__btn {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #f6f7f9;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s ease-in-out;
  overflow: hidden;
}

@media (max-width: 899px) {
  .p-navi__btn {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 900px) {
  .p-navi__btn:hover::before {
    left: 0;
  }
  .p-navi__btn:hover svg path {
    fill: #fff;
  }
  .p-navi__btn::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 100%;
    transition: .3s ease-in-out;
  }
}

.p-navi__btn.left {
  margin-right: 10px;
}

.p-navi__btn.right svg {
  transform: scale(-1);
}

.p-navi__btn svg {
  transition: .3s ease-in-out;
  position: relative;
  z-index: 2;
}

.p-navi__link {
  margin: 0 30px 0 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: .14em;
}

@media (max-width: 899px) {
  .p-navi__link {
    margin: 0 25px 0 15px;
  }
}

.p-navi__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  margin-top: 5px;
}

/*==========================================
  Layout
==========================================*/
/*==================================
  Top
==================================*/
#Top main .sect_1 .wrapper {
  position: relative;
}

#Top main .sect_1 .wrapper .hero {
  height: 600px;
}

#Top main .sect_1 .wrapper .hero.isOpened h2 {
  transform: translate(0, -50%);
  opacity: 1;
}

#Top main .sect_1 .wrapper .hero .base {
  height: 100%;
}

#Top main .sect_1 .wrapper .hero .base .vegas-timer {
  opacity: 0;
}

#Top main .sect_1 .wrapper .hero h2 {
  max-width: 324px;
  position: absolute;
  padding-right: 25px;
  top: 50%;
  left: 25px;
  transform: translate(0, -30%);
  opacity: 0;
  transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s, opacity 0.6s linear 0.2s;
}

#Top main .sect_1 .wrapper .hero .slider_num {
  width: 64.145px;
  height: 64.145px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  bottom: 25px;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Top main .sect_1 .wrapper .hero .slider_num svg {
  position: absolute;
  width: 103%;
  height: 103%;
  transform: rotate(-90deg);
}

#Top main .sect_1 .wrapper .hero .slider_num svg circle {
  stroke: #000;
  stroke-dashoffset: 225px;
  stroke-dasharray: 225px;
  animation-timing-function: linear;
}

@keyframes fillCirle {
  from {
    stroke-dashoffset: 225px;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#Top main .sect_1 .wrapper .hero .slider_num span {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  letter-spacing: .2em;
}

#Top main .sect_2 .wrapper {
  padding-top: 15px;
  padding-bottom: 50px;
}

#Top main .sect_2 .wrapper .news {
  padding-left: 15px;
}

#Top main .sect_2 .wrapper .news__item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

#Top main .sect_2 .wrapper .news__cat {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: .14em;
  width: 77px;
}

#Top main .sect_2 .wrapper .news__link {
  width: calc(100% - 77px);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow: hidden;
}

#Top main .sect_2 .wrapper .news__link--date {
  width: 85px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #a9abb0;
  letter-spacing: .03em;
  position: relative;
  top: 1.5px;
}

#Top main .sect_2 .wrapper .news__link--title {
  width: calc(100% - 85px);
  margin-top: -3px;
  overflow: hidden;
}

#Top main .sect_2 .wrapper .news__link--title p {
  font-size: 14px;
  line-height: 23px;
  letter-spacing: .03em;
  white-space: nowrap;
  position: relative;
}

#Top main .sect_3 .wrapper {
  padding-bottom: 90px;
}

/*==================================
  Works
==================================*/
#Works main .sect_1 .wrapper .p-navi {
  padding: 90px 0 40px 25px;
}

/*==================================
  Works Details
==================================*/
#Works_details main .sect_1 .wrapper .works__head {
  margin-bottom: 17px;
  padding-left: 25px;
  padding-right: 25px;
}

#Works_details main .sect_1 .wrapper .works__head--location {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #adafb5;
  letter-spacing: .03em;
  margin-bottom: 8px;
}

#Works_details main .sect_1 .wrapper .works__head--title {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: .03em;
}

#Works_details main .sect_1 .wrapper .works__content {
  display: flex;
  flex-wrap: wrap;
}

#Works_details main .sect_1 .wrapper .works__content--left {
  order: 2;
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
}

#Works_details main .sect_1 .wrapper .works__content--left .w_content {
  line-height: 24px;
  letter-spacing: .03em;
}

#Works_details main .sect_1 .wrapper .works__content--left .list {
  width: 100%;
  margin-top: 30px;
}

#Works_details main .sect_1 .wrapper .works__content--left .list__item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#Works_details main .sect_1 .wrapper .works__content--left .list__item:not(:last-child) {
  margin-bottom: 6px;
}

#Works_details main .sect_1 .wrapper .works__content--left .list__item--title {
  position: relative;
  width: 90px;
}

#Works_details main .sect_1 .wrapper .works__content--left .list__item--title::after {
  content: ":";
  display: block;
  position: absolute;
  top: -.2rem;
  right: 0;
}

#Works_details main .sect_1 .wrapper .works__content--left .list__item--desc {
  width: calc(100% - 90px);
  padding-left: 15px;
}

#Works_details main .sect_1 .wrapper .works__content--left .list__item--desc p {
  color: #64666c;
}

#Works_details main .sect_1 .wrapper .works__content--right {
  width: 100%;
  order: 1;
  margin-bottom: 35px;
}

#Works_details main .sect_1 .wrapper .works__content--right .img_wrap .img_main {
  margin-bottom: 10px;
}

#Works_details main .sect_1 .wrapper .works__content--right .img_wrap .img_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#Works_details main .sect_1 .wrapper .works__content--right .img_wrap .img_list .img_item {
  width: 18.75%;
}

#Works_details main .sect_1 .wrapper .works__content--right .img_wrap .img_list .img_item:not(:first-child) {
  margin-left: 1.5625%;
}

#Works_details main .sect_1 .wrapper .works__content--right .img_wrap .img_list .img_item.isActive {
  border: 1px solid #66737e;
}

#Works_details main .sect_1 .wrapper .works__content--right .img_wrap .img_list .img_item img {
  cursor: pointer;
}

#Works_details main .sect_1 .wrapper .p-navi {
  padding: 120px 25px 40px;
}

/*==================================
  Contact_reset
==================================*/
main#Contact {
  /*------ Reset CSS ------*/
  /*------ Reset END ------*/
}

main#Contact input {
  -webkit-appearance: none;
}

main#Contact input[type='text'] {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}

main#Contact input[type='radio'] {
  opacity: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 1;
}

main#Contact input[type='radio']:checked + label {
  background: #ff0000;
}

main#Contact input[type='checkbox'] {
  opacity: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 1;
}

main#Contact input[type='checkbox']:checked + label {
  background: #ff0000;
}

main#Contact input::placeholder {
  color: #b7b7b7;
}

main#Contact input:-ms-input-placeholder {
  color: #b7b7b7;
}

main#Contact input::-webkit-input-placeholder {
  color: #b7b7b7;
}

main#Contact button,
main#Contact input[type='button'],
main#Contact input[type='submit'] {
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

main#Contact textarea {
  appearance: none;
  resize: none;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
  border-radius: 0;
}

main#Contact select {
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 0;
}

/*==================================
  Contact_base
==================================*/
/* input, textarea
--------------------------------*/
/* radio_button
--------------------------------*/
main#Contact {
  /*------ Form Base ------*/
  /*------ Form Base END ------*/
}

@keyframes onAutoFillStart {
  from {
  }
  to {
  }
}

main#Contact span.error {
  color: #cc0303;
  display: block;
  margin: 7px 0 0;
}

main#Contact input:-webkit-autofill {
  animation-name: onAutoFillStart;
  background: white !important;
  transition: background-color 50000s ease-in-out 0s;
}

main#Contact input[type="text"]:focus,
main#Contact input[type="email"]:focus,
main#Contact input[type="tel"]:focus,
main#Contact input[type="search"]:focus,
main#Contact input[type="url"]:focus,
main#Contact textarea:focus {
  color: #000;
  background-color: #dddddd;
}

main#Contact .ERR {
  color: #cc0303;
}

main#Contact input[type="text"] {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  padding: 12px 21px;
  border: 1px solid #dddddd;
  background: #dddddd;
  box-sizing: border-box;
  color: #000;
  width: 100%;
}

main#Contact input[type="text"].zip {
  max-width: 247px;
  width: 100%;
}

main#Contact .zip-wrap {
  background: #dddddd;
  display: inline-block;
  position: relative;
  max-width: 247px;
  width: 100%;
  margin-right: 3px;
}

main#Contact .zip-wrap::before {
  content: "〒";
  font-size: 18px;
  position: absolute;
  top: 0.8em;
  left: 24px;
  margin: auto;
}

main#Contact .zip-wrap input {
  padding: 12px 21px 12px 55px;
  width: 100%;
}

main#Contact input[type="button"] {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  font-weight: 500;
  color: #000;
  max-width: 140px;
  width: 100%;
  background: #dddddd;
  border: 3px solid #dddddd;
  padding: 10px 19px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  cursor: pointer;
}

main#Contact input[type="button"]:hover {
  background: none;
}

main#Contact input[type="checkbox"] + label {
  padding-left: 29px;
  position: relative;
  margin-right: 29px;
  cursor: pointer;
}

main#Contact input[type="checkbox"] + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #dddddd;
  background: #dddddd;
  box-sizing: border-box;
}

main#Contact input[type="checkbox"] + label::after {
  content: "";
  opacity: 0;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  display: block;
  height: 9px;
  left: 7px;
  margin-top: -8px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 5px;
}

main#Contact input[type="checkbox"]:checked + label {
  background: none;
}

main#Contact input[type="checkbox"]:checked + label::after {
  opacity: 1;
}

main#Contact input[type="radio"] + label {
  padding-left: 27px;
  position: relative;
  margin-right: 27px;
  cursor: pointer;
}

main#Contact input[type="radio"] + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 1px solid #dddddd;
  background: #dddddd;
  box-sizing: border-box;
  border-radius: 50%;
}

main#Contact input[type="radio"] + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 9px;
  height: 9px;
  background: #000;
  border-radius: 50%;
  opacity: 0;
}

main#Contact input[type="radio"]:checked + label {
  background: none;
}

main#Contact input[type="radio"]:checked + label::after {
  opacity: 1;
}

main#Contact .select-box {
  overflow: hidden;
  width: 60%;
  text-align: center;
  position: relative;
  border-radius: 2px;
  background: #dddddd;
}

main#Contact .select-box select {
  font-size: 16px;
  color: #000;
  letter-spacing: 0.035em;
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  appearance: none;
  padding: 12px 38px 12px 21px;
}

main#Contact .select-box select::-ms-expand {
  display: none;
}

main#Contact .select-box::before {
  position: absolute;
  top: 1.25em;
  right: 21px;
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  pointer-events: none;
}

main#Contact textarea {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: 1px solid #dddddd;
  background: #dddddd;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 21px;
  min-height: 174px;
}

main#Contact .overscroll {
  overflow-y: scroll;
  height: 237px;
  padding: 25px 21px;
  background: #dddddd;
}

main#Contact .overscroll ul > li {
  margin-bottom: 25px;
}

main#Contact .overscroll ul > li strong {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 5px;
  color: #000;
}

main#Contact .overscroll ul > li p {
  font-size: 14px;
  line-height: 1.42;
}

main#Contact .overscroll ul > li > ol {
  margin-top: 5px;
}

main#Contact .overscroll ul > li > ol li {
  text-indent: -1.25em;
  padding-left: 1.25em;
}

main#Contact .overscroll ul > li:first-child strong {
  margin-bottom: 20px;
}

main#Contact .overscroll ul > li:last-child {
  margin-bottom: 0;
}

main#Contact .submit_area {
  margin-top: 85px;
  text-align: center;
}

main#Contact .submit_area span {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #000;
  width: 262px;
  background: #dddddd;
  box-sizing: border-box;
  font-feature-settings: "palt";
  position: relative;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid #dddddd;
  transition: all 0.3s ease;
}

main#Contact .submit_area span input[type="submit"] {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #000;
  cursor: pointer;
  width: 100%;
  height: 58px;
  box-sizing: border-box;
}

main#Contact .submit_area span:hover {
  background: none;
}

main#Contact .submit_area span:hover input[type="submit"] {
  color: #000;
}

main#Contact .submit_area ul.koumoku {
  max-width: 590px;
  margin: 20px auto 0;
}

main#Contact .submit_area ul.koumoku li {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #000;
  width: 262px;
  background: #5f4b08;
  box-sizing: border-box;
  font-feature-settings: "palt";
  position: relative;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid #5f4b08;
  transition: all 0.3s ease;
}

main#Contact .submit_area ul.koumoku li input[type="submit"] {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #000;
  cursor: pointer;
  width: 100%;
  height: 58px;
  box-sizing: border-box;
}

main#Contact .submit_area ul.koumoku li:hover {
  background: none;
}

main#Contact .submit_area ul.koumoku li:hover input[type="submit"] {
  color: #000;
}

main#Contact .submit_area ul.koumoku li:hover svg path {
  fill: #000;
}

main#Contact .btn_back {
  margin-top: 25px;
  text-align: center;
}

main#Contact .btn_back input {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #fff;
  width: 262px;
  background: #dddddd;
  box-sizing: border-box;
  font-feature-settings: "palt";
  position: relative;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid #dddddd;
  transition: all 0.3s ease;
  height: 58px;
  padding: 15px 15px 14px;
}

main#Contact .contact_back {
  margin-top: 25px;
  text-align: center;
}

main#Contact .contact_back a {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #fff;
  width: 262px;
  background: #dddddd;
  box-sizing: border-box;
  font-feature-settings: "palt";
  position: relative;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid #dddddd;
  transition: all 0.3s ease;
  height: 58px;
  padding: 15px 15px 14px;
}

main#Contact .contact_back a:hover {
  color: #000;
  background: none;
}

/*==================================
  Contact
==================================*/
main#Contact .container p {
  font-size: 16px;
}

main#Contact .container p > a {
  background: linear-gradient(#000, #000) 0 100%/0 1px no-repeat;
  background-size: 100% 1px;
  padding-bottom: 2px;
  display: inline;
}

main#Contact .agree_area {
  margin: 30px 0 0;
  text-align: center;
}

main#Contact .need {
  color: #cc0303;
}

main#Contact table {
  display: block;
}

main#Contact table tbody {
  display: block;
}

main#Contact table tr {
  display: block;
  margin-bottom: 25px;
}

main#Contact table tr th {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.03em;
  font-weight: 500;
  display: block;
  text-align: left;
  margin-bottom: 13px;
}

main#Contact table tr th .caution {
  display: block;
  text-indent: -1em;
  padding-left: 1em;
  margin-top: 8px;
}

main#Contact table tr td {
  display: block;
}

main#Contact table tr td .text02 {
  margin-top: 8px;
}

main#Contact .check-list {
  padding-left: 0;
  padding-top: 5px;
}

main#Contact .check-list li {
  display: inline-block;
}

main#Contact .check-list.type > li {
  display: block;
  margin-bottom: 18px;
}

main#Contact .check-list.type > li:last-child {
  margin-bottom: 0;
}

main#Contact .check-list.pedal > li {
  margin-right: 50px;
}

main#Contact .check-list.pedal > li:last-child {
  margin-right: 0;
}

main#Contact .check-list.play {
  margin-bottom: -18px;
}

main#Contact .check-list.play > li {
  padding-bottom: 18px;
  margin-right: 20px;
}

main#Contact .form_wrap > p {
  margin-top: 0 !important;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-weight: 500;
}
/*# sourceMappingURL=style_sp.css.map */