/* base
==================================*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
li,
ol,
dl,
dd,
tr {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-family: YakuHanJP_Noto, "Noto Sans JP", san-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
.sp {
  display: none !important;
}

a {
  color: $font-color;
  text-decoration: none;
  transition: 0.3s;
  &:visited {
    color: $font-color;
  }
  &:hover {
    color: $font-color;
    text-decoration: none;
  }
  &:active {
    color: $font-color;
  }
  &.tel {
    pointer-events: none;
    cursor: default;
  }
}

/* main
==================================*/
main {
  display: block; /*IE対策*/
}
/*　Retina対応時のCSS↓　*/
@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
}

/* header
==================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  height: 100px;
  &.p-top{
    .header_inner{
      .h_left{
        .logo{
          opacity: 0;
        }
      }
    }
  }
  &.menuActive{
    .header_inner{
      .h_right{
        .copy{
          bottom: 30px;
        }
      }
    }
  }
  .header_inner{
    height: 100%;
    .h_left{
      padding-left: 50px;
      height: 100%;
      display: flex;
      align-items: center;
      .logo{
        a{
          display: inline-block;
          background-image: url(/images/common/header_logo.svg);
          background-size: contain;
          background-repeat: no-repeat;
          width: 216px;
          height: 36px;
          i{
            opacity: 0;
          }
        }
      }
    }
    .h_right{
      position: fixed;
      top: 50%;
      right: 0;
      z-index: 999;
      transform: translate(0, -50%);
      height: 100%;
      width: 140px;
      .menu {
        background: #000;
        width: 100%;
        height: 82px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        span {
          position: absolute;
          top: 33px;
          left: 0;
          right: 0;
          display: inline-block;
          background: #fff;
          width: 60px;
          height: 3px;
          margin: auto;
          transition: 0.3s;
          &.line-t.show {
            top: 40px;
            transform: rotate(-15deg);
          }
          // &.line-m {
          //   top: 22px;
          //   &.show {
          //     opacity: 0;
          //   }
          // }
          &.line-b {
            top: 47px;
            &.show {
              top: 40px;
              transform: rotate(15deg);
            }
          }
        }
        p {
          color: #fff;
          padding: 35px 0 0;
          font-size: 10px;
          text-align: center;
        }
      }
      .copy{
        position: absolute;
        bottom: 35px;
        right: 55px;
        transition: .3s ease-in-out;
        small{
          writing-mode: vertical-rl;
          text-orientation: mixed;
          @include Roboto();
          font-size: 10px;
          color: #a9abb0;
          letter-spacing: .08em;
          text-transform: uppercase;
        }
      }
    }
  }
  .nav{
    transition: .3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 990;
    width: calc(100% - 120px);
    height: 100%;
    background-image: url(/images/common/bg_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    &.isActive{
      opacity: 1;
      visibility: visible;
    }
    &__list{
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      width: 680px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; 
    }
    &__item{
      width: 50%;
      &:not(:last-child){
        margin-bottom: 12px
      }
      &:nth-child(2){
        order: 1;
      }
      &:nth-child(3){
        order: 3;
      }
      &:nth-child(4){
        order: 5;
      }
      &:nth-child(5){
        order: 7;
      }
      &:nth-child(6){
        order: 0;
      }
      &:nth-child(7){
        order: 2;
      }
      &:nth-child(8){
        order: 4;
      }
      &:nth-child(9){
        order: 6;
      }
    }
    &__link{
      position: relative;
      @include Roboto(400);
      font-size: 26px;
      letter-spacing: .14em;
      &:hover{
        &::before{
          width: 100%;
        }
      }
      span{
        @include Noto_Sans(300);
        font-size: 12px;
        letter-spacing: .06em;
        color: #a9abb0;
        margin-left: 15px;
        position: relative;
        top: -5px;
      }
      &::before{
        content: "";
        display: block;
        width: 0;
        height: 1px;
        background-color: #000;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: .3s ease-in-out;
      }
    }
  }
}

/* footer
==================================*/
footer {
  padding-right: 120px;
  .footer_inner{
    padding: 50px 50px 40px;
    background: #000;
    .top{
      display: flex;
      justify-content: space-between;
      .logo{
        width: 216px;
        @include is-max(1030px){
          width: 150px;
        }
      }
      .nav{
        &__list{
          display: flex;
          justify-content: flex-end;
        }
        &__item{
          line-height: 1;
          &:not(:first-child){
            margin-left: 20px;
            @include is-max(1200px){
              margin-left: 10px;
            }
          }
          &__link{
            color: #fff;
            font-size: 14px;
            letter-spacing: .06em;
            position: relative;
            @include is-max(1200px){
              font-size: 12px;
            }
            @include is-max(950px){
              font-size: 10px;
            }
            &:hover{
              &::before{
                width: 100%;
              }
            }
            &::before{
              content: "";
              width: 0;
              height: 1px;
              background-color: #fff;
              display: block;
              position: absolute;
              bottom: -3px;
              left: 0;
              transition: .3s ease-in-out;
            }
          }
        }
      }
    }
    .bottom{
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: 140px;
      .b_left{
        width: 300px;
        p{
          font-size: 14px;
          letter-spacing: .06em;
          line-height: 18.2px;
          color: #c6c6c6;
          span{
            color: #fff;
            margin-bottom: 2px;
            display: inline-block;
          }
          a{
            color: #c6c6c6;
          }
        }
      }
      .b_right{
        width: 480px;
        @include is-max(1000px){
          width: calc(100% - 350px);
        }
        p{
          font-size: 12px;
          color: #777777;
          line-height: 15.6px;
          letter-spacing: .06em;
        }
      }
    }
  }
}

#pageTop {
  opacity: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 888;
  transition: 0.3s;
  &.active {
    opacity: 1;
  }
  a {
    display: block;
    width: 50px;
    &:hover {
      opacity: 0.7;
    }
  }
}
