/*==================================
  Contact
==================================*/
main#Contact {
  .form-sec{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 120px;
  }
  .container {
    p {
      font-size: 16px;

      > a {
        background: linear-gradient(#000, #000) 0 100%/0 1px no-repeat;
        background-size: 100% 1px;
        padding-bottom: 2px;
        display: inline;
      }
    }
  }

  .agree_area {
    margin: 50px 0 0;
    text-align: center;
    .checkAgree{
      @include is-max(370px){
        font-size: 13px;
      }
      a{
        border-bottom: 1px solid #000;
      }
    }
  }

  .need {
    color: #c00000;
  }

  table {
    display: block;

    tbody {
      display: block;
    }

    tr {
      display: block;
      margin-bottom: 20px;

      th {
        font-weight: 400;
        display: block;
        text-align: left;
        margin-bottom: 10px;

        .caution {
          display: block;
          text-indent: -1em;
          padding-left: 1em;
          margin-top: 8px;
        }
      }

      td {
        display: block;

        .text02 {
          margin-top: 8px;
        }
      }
    }
  }

  .check-list {
    padding-left: 0;
    padding-top: 0;

    li {
      display: inline-block;
    }

    &.type {
      > li {
        display: block;
        margin-bottom: 10px;
        text-indent: -8px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.pedal {
      > li {
        margin-right: 50px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &.play {
      margin-bottom: -18px;

      > li {
        padding-bottom: 18px;
        margin-right: 20px;
      }
    }
  }

  .form_wrap {
    > p {
      margin-top: 0 !important;
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.03em;
      span{
        @include Roboto();
        font-size: 18px;
      }
    }
  }
}
