/* base
==================================*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
li,
ol,
dl,
dd,
tr {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-family: YakuHanJP_Noto, "Noto Sans JP", san-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
.pc {
  display: none !important;
}

a {
  color: $font-color;
  text-decoration: none;
  &:visited {
    color: $font-color;
  }
  &:active {
    color: $font-color;
  }
}

/* main
==================================*/
main {
  display: block; /*IE対策*/
}

/* header
==================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  height: 50px;
  transition: .3s ease-in-out;
  background-color: #ffffff;
  &.p-top{
    background-color: transparent ;
    .header_inner{
      .h_left{
        .logo{
          opacity: 0;
        }
      }
    }
  }
  &.menuActive{
    background-color: #000 !important;
    .header_inner{
      .h_left{
        .logo{
          opacity: 1;
          a{
            width: 142px;
            height: 24px;
            background-image: url(/images/common/footer_logo.svg);
          }
        }
      }
      .h_right{
        .menu{
          background-color: #151515;
        }
      }
    }
  }
  .header_inner{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .h_left{
      padding-left: 25px;
      .logo{
        display: flex;
        align-items: center;
        a{
          display: inline-block;
          background-image: url(/images/common/header_logo.svg);
          background-size: contain;
          background-repeat: no-repeat;
          width: 160px;
          height: 26.5px;
          i{
            opacity: 0;
          }
        }
      }
    }
    .h_right{
      height: 100%;
      width: 80px;
      .menu {
        background: #000;
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: relative;
        span {
          position: absolute;
          top: 21px;
          left: 0;
          right: 0;
          display: inline-block;
          background: #fff;
          width: 30px;
          height: 1.5px;
          margin: auto;
          transition: 0.3s;
          &.line-t.show {
            top: 24px;
            transform: rotate(-15deg);
          }
          &.line-b {
            top:28px;
            &.show {
              top: 24px;
              transform: rotate(15deg);
            }
          }
        }
        p {
          color: #fff;
          padding: 35px 0 0;
          font-size: 10px;
          text-align: center;
        }
      }
      .copy{
        display: none;
      }
    }
  }
  .nav{
    transition: .3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 990;
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: scroll;
    -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
    padding-bottom: 50px;
    &.isActive{
      opacity: 1;
      visibility: visible;
    }
    &__list{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 100px;
    }
    &__item{
      width: 50%;
      padding: 25px;
      border-bottom: 1px solid #151515;
      box-sizing: border-box;
      &:first-child{
        width: 100%;
        border-top: 1px solid #151515;
      }
      &:nth-child(even){
        border-right: 1px solid #151515;
      }
    }
    &__link{
      position: relative;
      @include Roboto();
      font-size: 12px;
      letter-spacing: .06em;
      color: #777777;
      display: flex;
      flex-direction: column;
      &:hover{
        &::before{
          width: 100%;
        }
      }
      span{
        @include Noto_Sans(300);
        font-size: 16px;
        letter-spacing: .06em;
        color: #fff;
        order: -1;
      }
      &::before{
        content: "";
        display: block;
        width: 0;
        height: 1px;
        background-color: #000;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: .3s ease-in-out;
      }
    }
  }
}

/* footer
==================================*/
footer {
  .footer_inner{
    padding: 70px 25px 30px;
    background: #000;
    .top{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .logo{
        width: 202.5px;
        margin-bottom: 32px;
      }
      .nav{
        width: 100%;
        &__list{
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
        }
        &__item{
          width: 50%;
          &:first-child{
            width: 100%;
          }
          &:not(:first-child){
            margin-top: 19px;
          }
          &__link{
            color: #fff;
            font-size: 14px;
            letter-spacing: .06em;
            position: relative;
          } 
        }
      }
    }
    .bottom{
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: 95px;
      .b_left{
        width: 100%;
        margin-bottom: 25px;
        p{
          font-size: 14px;
          letter-spacing: .06em;
          line-height: 18.2px;
          color: #c6c6c6;
          @include is-max(345px){
            font-size: 13px;
          }
          span{
            color: #fff;
            margin-bottom: 2px;
            display: inline-block;
          }
          a{
            color: #c6c6c6;
          }
        }
      }
      .b_right{
        width: 100%;
        p{
          font-size: 10px;
          color: #777777;
          line-height: 13px;
          letter-spacing: .06em;
        }
      }
    }
    .copy{
      margin-top: 20px;
      small{
        color: #777777;
        @include Roboto();
        font-size: 10px;
        letter-spacing: .08em;
        text-transform: uppercase;
      }
    }
  }
}

#pageTop {
  opacity: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 888;
  transition: 0.3s;
  &.active {
    opacity: 1;
  }
  a {
    display: block;
    width: 50px;
  }
}
