/*==================================
  News Details
==================================*/
#News_details main {
  .sect_1{
    .wrapper{
      padding-left: 25px;
      padding-right: 25px;
      .p-navi{
        margin-bottom: 40px;
      }
    }
  }
}
  